<p id="notice"><%= notice %></p>

<h1>Tourist Spots</h1>

<table>
  <thead>
    <tr>
      <th>Picture</th>
      <th>Name</th>
      <th>Description</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tourist_spots.each do |tourist_spot| %>
      <tr>
        <% if tourist_spot.picture.present? %>
          <td><%= image_tag(tourist_spot.picture.thumb.url) %></td>
        <% else %>
          <td><%= image_tag("no_image.jpg") %></td>
        <% end %>
        <td><%= tourist_spot.name %></td>
        <td><%= tourist_spot.description %></td>
        <td><%= tourist_spot.location %></td>
        <td><%= link_to 'Show', tourist_spot %></td>
        <td><%= link_to 'Edit', edit_tourist_spot_path(tourist_spot) %></td>
        <td><%= link_to 'Destroy', tourist_spot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tourist Spot', new_tourist_spot_path %>
