<p id="notice"><%= notice %></p>

<h1><%= @tourist_spot.name %></h1>

<ul class="list-group">

  <li class="list-group-item">
    <h3>説明</h3>
    <p><%= @tourist_spot.description %></p>
  </li>

  <li class="list-group-item">
    <h3>住所</h3>
    <p><%= @tourist_spot.location %></p>
  </li>

  <li class="list-group-item">
    <h3>写真</h3>
    <p><%= image_tag(@tourist_spot.picture_url)if @tourist_spot.picture.present? %></p>
  </li>

</ul>

<%= link_to '&lsaquo; 戻る'.html_safe, :back %>
