<div class="map-container">
  <div id="map" class="map-canvas"></div>
  <div class="map-course">
    <%= select_tag "select-course", options_for_select(@courses.map{|c|[c.name, c.id]}),
      class: "form-control", onchange: "courseChanged(this)" %>
    <%= hidden_field_tag "authenticity_token", form_authenticity_token %>
  </div>
  <div class="map-route">
    <table id="route-list" class="table"></table>
    <%= button_tag "地図上から選択", id: "add-marker-btn", onclick: "addMarker()" %>
  </div>
  <div class="map-search">
    <%= button_tag "経路を検索する", id: "search-btn", class: "btn btn-primary", onclick: "searchRoute()", disabled: true %>
  </div>
</div>

<script type="text/javascript">
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = <%= raw @hash.to_json %>
      Gmaps.store = {}
      Gmaps.store.markers = markers.map(function(m) {
        marker = handler.addMarker(m);
        marker.serviceObject.set('id', m.id);
        return marker;
      });
      handler.bounds.extendWith(Gmaps.store.markers);
      handler.fitMapToBounds();
      handler.getMap().setCenter(new google.maps.LatLng(33.56, 130.19));
      handler.getMap().setZoom(12);
      handler.getMap().setOptions({ draggableCursor: "default" });
      google.maps.event.addListener(handler.getMap(), "click", mapListener);;
      google.maps.event.addListener(handler.getMap(), "change", markerChangeListener);;
      directionsDisplay.setMap(handler.getMap());
      Gmaps.changeMarker = function(id, color) {
        $.each(Gmaps.store.markers, function() {
          if (this.serviceObject.id == id) {
            if (color === "green") {
              this.serviceObject.setIcon("http://maps.google.com/mapfiles/ms/icons/green-dot.png");
            } else if (color === "red") {
              this.serviceObject.setIcon("http://maps.google.com/mapfiles/ms/icons/red-dot.png");
            }
          }
        });
      }
    });
</script>

<%= javascript_include_tag "map.js" %>
